@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.news {
  background: var(--bg, #ffffff);
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
}
.news .top-header {
  background: var(--button, #000000);
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  padding: 12px 141.3px 12px 0;
  justify-content: center;
  box-sizing: border-box;
}
.news .header {
  margin: 0 135px 16px 135px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 643px;
  box-sizing: border-box;
}
.news .line-3 {
  margin-bottom: 23.5px;
  display: flex;

  height: 0.5px;
  box-sizing: border-box;
}
.news .roadmap {
  margin: 0 135px 16px 135px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.news .frame-869 {
  margin-bottom: 38px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  box-sizing: border-box;
}
.news .enjoy-rose-become-our-diamond {
  margin: 0 2.5px 10px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 1.4px;
  line-height: 1.357;
  color: #000000;
}
.news
  .to-showing-the-respect-and-honor-to-our-amazing-women-the-lam-thanh-thu-would-like-to-give-you-aspecial-treat-in-the-lady-month-become-our-diamond-member-and-enjoy-the-highest-benefits {
  overflow-wrap: break-word;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: var(--text-2, #000000);
}
.news .footer {
  background: var(--button, #000000);
  display: flex;
  flex-direction: row;
  padding: 80px 96px 124px 135px;
  justify-content: center;
  /* width: fit-content; */
  box-sizing: border-box;
}
.news .frame-870 {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 29px;
  display: flex;
  flex-direction: row;
  padding: 25px 61.4px 26px 34px;
  width: fit-content;
  box-sizing: border-box;
}
.news .image-55 {
  background: url("assets/images/Image55.png") 100% / contain no-repeat;
  margin-right: 41px;
  width: 60%;
  height: 254px;
}
.news .frame-892 {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 29px;
  display: flex;
  flex-direction: row;
  padding: 25px 61.4px 26px 34px;
  width: fit-content;
  box-sizing: border-box;
}
.news .image-551 {
  background: url("assets/images/Image55.png") 50% / cover no-repeat;
  margin-right: 41px;
  width: 60%;
  height: 254px;
}
.news .frame-8691 {
  margin-bottom: 38px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  box-sizing: border-box;
}
.news .enjoy-rose-become-our-diamond-1 {
  margin: 0 2.5px 10px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 1.4px;
  line-height: 1.357;
  color: #000000;
}
.news
  .to-showing-the-respect-and-honor-to-our-amazing-women-the-lam-thanh-thu-would-like-to-give-you-aspecial-treat-in-the-lady-month-become-our-diamond-member-and-enjoy-the-highest-benefits-1 {
  overflow-wrap: break-word;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: var(--text-2, #000000);
}
.news .frame-893 {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 29px;
  display: flex;
  flex-direction: row;
  padding: 25px 61.4px 26px 34px;
  width: fit-content;
  box-sizing: border-box;
}
.news .image-552 {
  background: url("assets/images/Image55.png") 50% / cover no-repeat;
  margin-right: 41px;
  width: 60%;
  height: 254px;
}
.news .frame-8692 {
  margin-bottom: 38px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  box-sizing: border-box;
}
.news .enjoy-rose-become-our-diamond-2 {
  margin: 0 2.5px 10px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 1.4px;
  line-height: 1.357;
  color: #000000;
}
.news
  .to-showing-the-respect-and-honor-to-our-amazing-women-the-lam-thanh-thu-would-like-to-give-you-aspecial-treat-in-the-lady-month-become-our-diamond-member-and-enjoy-the-highest-benefits-2 {
  overflow-wrap: break-word;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: var(--text-2, #000000);
}
.news .frame-8921 {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  padding: 25px 61.4px 25px 34px;
  width: fit-content;
  box-sizing: border-box;
}
.news .image-553 {
  background: url("assets/images/Image55.png") 100% / cover no-repeat;
  margin-right: 41px;
  width: 60%;
  height: 254px;
}
.news .frame-8693 {
  margin-bottom: 38px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  box-sizing: border-box;
}
.news .enjoy-rose-become-our-diamond-3 {
  margin: 0 2.5px 10px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 1.4px;
  line-height: 1.357;
  color: #000000;
}
.news
  .to-showing-the-respect-and-honor-to-our-amazing-women-the-lam-thanh-thu-would-like-to-give-you-aspecial-treat-in-the-lady-month-become-our-diamond-member-and-enjoy-the-highest-benefits-3 {
  overflow-wrap: break-word;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: var(--text-2, #000000);
}
.news .group-1000005941 {
  border-radius: 4px;
  margin-right: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.news .frame-8701 {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
  margin-bottom: 27px;
  display: flex;
  padding: 28px 9px 22px 11px;
}
.news .re {
  margin: 0 31px 7px 31px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 1.4px;
  line-height: 1.357;
  color: #ffffff;
}
.news .recent-posts {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 2.7px;
  line-height: 1.353;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
}
.news .wine-of-the-month-find-your-chill-with-gerard-bertrand-selection {
  margin: 0 15.5px 13px 9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2.2px;
  line-height: 2.111;
  color: #000000;
}
.news .line-17 {
  background: rgba(0, 0, 0, 0.25);
  margin-bottom: 16px;
  width: 347px;
  height: 1px;
}
.news .wine-of-the-month-find-your-chill-with-gerard-bertrand-selection-1 {
  margin: 0 15.5px 16px 9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2.2px;
  line-height: 2.111;
  color: #000000;
}
.news .wine-of-the-month-find-your-chill-with-gerard-bertrand-selection-2 {
  margin: 0 15.5px 0 9px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2.2px;
  line-height: 2.111;
  color: #000000;
}
.news .line-18 {
  background: rgba(0, 0, 0, 0.25);
  margin-bottom: 14px;
  width: 347px;
  height: 1px;
}
.news .frame-8922 {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  padding: 28px 9px 22px 11px;
  box-sizing: border-box;
}
.news .re-1 {
  margin: 0 31px 7px 31px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 1.4px;
  line-height: 1.357;
  color: #ffffff;
}
.news .wine-of-the-month-find-your-chill-with-gerard-bertrand-selection-3 {
  margin: 0 15.5px 13px 9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2.2px;
  line-height: 2.111;
  color: #000000;
}
.news .wine-of-the-month-find-your-chill-with-gerard-bertrand-selection-4 {
  margin: 0 15.5px 16px 9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2.2px;
  line-height: 2.111;
  color: #000000;
}
.news .wine-of-the-month-find-your-chill-with-gerard-bertrand-selection-5 {
  margin: 0 15.5px 0 9px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2.2px;
  line-height: 2.111;
  color: #000000;
}
.news .line-171 {
  background: rgba(0, 0, 0, 0.25);
  margin-bottom: 16px;
  width: 347px;
  height: 1px;
}
.news .line-181 {
  background: rgba(0, 0, 0, 0.25);
  margin-bottom: 14px;
  width: 347px;
  height: 1px;
}
.news .categories {
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 2.7px;
  line-height: 1.588;
  color: #ffffff;
  margin: 0 auto;
}
.news .frame-560 {
  background: #9b4545;
  position: relative;
  margin: 0 130px 16px 135px;
  /* width: fit-content; */
  box-sizing: border-box;
}
.news .summer-sale-on-all-wine-and-free-express-delivery {
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  margin: 0 0.1px 20px 0.1px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.313;
  color: var(--text, #fafafa);
}
.news .up-to-50-off-voucher {
  margin-bottom: 30px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 600;
  font-size: 44px;
  letter-spacing: 0.9px;
  line-height: 1.25;
  color: var(--text, #fafafa);
}
.news .frame-562 {
  margin-bottom: 58px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.news .frame-561 {
  margin-right: 11.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.news .shop-now {
  margin: 0 0.4px 4px 0.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--title-16-px-medium-font-family, "Poppins");
  font-weight: var(--title-16-px-medium-font-weight, 500);
  font-size: var(--title-16-px-medium-font-size, 16px);
  line-height: var(--title-16-px-medium-line-height, 1.5);
  color: var(--text, #fafafa);
}
.news .line-5 {
  background: #fafafa;
  width: 81px;
  height: 1px;
}
.news .icons-arrow-right {
  margin: 7px 0 8px 0;
  display: flex;
  width: 16.5px;
  height: 14px;
  box-sizing: border-box;
}
.news .frame-883 {
  margin: 0 46.2px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  column-gap: 12px;
  width: 110px;
  box-sizing: border-box;
}
.news .ellipse-7 {
  opacity: 0.5;
  border-radius: 6px;
  background: var(--primary, #ffffff);
  margin: 1px 0;
  width: 12px;
  height: 12px;
}
.news .ellipse-2 {
  opacity: 0.5;
  border-radius: 6px;
  background: var(--primary, #ffffff);
  margin: 1px 0;
  width: 12px;
  height: 12px;
}
.news .group-1000005940 {
  position: relative;
  display: flex;
  padding: 2px;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
}
.news .ellipse-4 {
  border-radius: 5px;
  background: var(--secondary-2, #db4444);
  position: relative;
  width: 10px;
  height: 10px;
}
.news .ellipse-5 {
  border-radius: 7px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 14px;
  height: 14px;
}
.news .ellipse-3 {
  opacity: 0.5;
  border-radius: 6px;
  background: var(--primary, #ffffff);
  margin: 1px 0;
  width: 12px;
  height: 12px;
}
.news .ellipse-6 {
  opacity: 0.5;
  border-radius: 6px;
  background: var(--primary, #ffffff);
  margin: 1px 0;
  width: 12px;
  height: 12px;
}
.news .bottle-banner-11 {
  background: url("assets/images/BottleBanner15.png") 50% / cover no-repeat;
  position: absolute;
  top: -4px;
  right: 108px;
  width: 295px;
  height: 335px;
}
.news .unsplash-y-4-gj-debvn-jo {
  background: url("assets/images/UnsplashY4GjDebvnJo.jpeg") 50% / cover
    no-repeat;
  margin-right: 29px;
  width: 176px;
  height: 338px;
}
.news .container {
  background: #a41e22;
  position: absolute;
  left: 0px;
  top: -3px;
  right: 0px;
  display: flex;
  padding: 16px 1.3px 19px 0;
  box-sizing: border-box;
}
.news .container-1 {
  margin: 96px 0 15px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.news .container-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.news .container-3 {
  background: #a41e22;
  position: absolute;
  left: 0px;
  top: -1px;
  right: 0px;
  display: flex;
  padding: 16px 14.6px 15px 0;
  box-sizing: border-box;
}
.news .container-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.news .container-5 {
  margin-bottom: 287px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.news .container-6 {
  margin: 0 130px 149px 135px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.news .container-7 {
  width: 1.3px;
  height: 3.9px;
}
.news .container-8 {
  border-radius: 4px;
  border: 0.6px solid #fafafa;
  background: url("assets/images/PngTransparentGooglePlayStoreLogoGooglePlayAppStoreAndroidWalletsTextLabelLogo.png")
    100% / cover no-repeat;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 17px 7px 9.1px 0;
  width: 104px;
  height: fit-content;
  box-sizing: border-box;
}
.news .frame-549 {
  margin: 1.5px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.news .english {
  margin-right: 11.2px;
  overflow-wrap: break-word;
  font-family: var(--title-14-px-regular-font-family, "Poppins");
  font-weight: var(--title-14-px-regular-font-weight, 400);
  font-size: var(--title-14-px-regular-font-size, 14px);
  line-height: var(--title-14-px-regular-line-height, 1.5);
  color: var(--text, #fafafa);
}
.news .summer-sale-for-all-swim-suits-and-free-express-delivery-off-50 {
  margin: 3px 13.7px 0 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--title-14-px-regular-font-family, "Poppins");
  font-weight: var(--title-14-px-regular-font-weight, 400);
  font-size: var(--title-14-px-regular-font-size, 14px);
  line-height: var(--title-14-px-regular-line-height, 1.5);
  color: var(--text, #fafafa);
}
.news .drop-down {
  margin: 6.5px 0 6.7px 0;
  display: flex;
  width: 12.7px;
  height: 7.8px;
  box-sizing: border-box;
}
.news .vector {
  width: 12.7px;
  height: 7.8px;
}
.news .frame-555 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.news .shop-now-1 {
  overflow-wrap: break-word;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  text-decoration-line: underline;
  line-height: 1.714;
  color: var(--text, #fafafa);
}
.news .frame-556 {
  margin: 7px 0;
  display: flex;
  box-sizing: border-box;
}
.news .exclusive {
  overflow-wrap: break-word;
  font-family: var(--heading-24-px-bold-font-family, "Inter");
  font-weight: var(--heading-24-px-bold-font-weight, 700);
  font-size: var(--heading-24-px-bold-font-size, 24px);
  letter-spacing: var(--heading-24-px-bold-letter-spacing, 0.7px);
  line-height: var(--heading-24-px-bold-line-height, 1);
  color: var(--text-2, #000000);
}
.news .frame-552 {
  display: flex;
  flex-direction: row;
  width: 395px;
  box-sizing: border-box;
}
.news .search-component-set {
  border-radius: 4px;
  background: var(--secondary, #f5f5f5);
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 16px 10px 20px;
  width: 243px;
  box-sizing: border-box;
}
.news .what-are-you-looking-for {
  opacity: 0.5;
  margin-right: 9px;
  width: 182px;
  border: none;
  overflow-wrap: break-word;
  font-family: var(--title-12-px-regular-font-family, "Poppins");
  font-weight: var(--title-12-px-regular-font-weight, 400);
  font-size: var(--title-12-px-regular-font-size, 12px);
  line-height: var(--title-12-px-regular-line-height, 1.5);
  color: var(--text-2, #000000);
}
.news .component-2 {
  margin: 1px 0;
  display: flex;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
}
.news .vector-1 {
  width: 16px;
  height: 16px;
}
.news .frame-551 {
  margin: 3px 0;
  display: flex;
  flex-direction: row;
  width: 122px;
  height: fit-content;
  box-sizing: border-box;
}
.news .wishlist {
  margin: 7px 22px 7.2px 0;
  display: flex;
  width: 20px;
  height: 17.8px;
  box-sizing: border-box;
}
.news .vector-2 {
  width: 20px;
  height: 17.8px;
}
.news .cart-1-with-buy {
  margin-right: 16px;
  display: flex;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.news .cart-1 {
  width: 32px;
  height: 32px;
}
.news .user {
  width: 32px;
  height: 32px;
}
.news .line-31 {
  opacity: 0.3;
  background: #000000;

  height: 0.5px;
}
.news .account {
  opacity: 0.5;
  margin-right: 12.3px;
  overflow-wrap: break-word;
  font-family: var(--title-14-px-regular-font-family, "Poppins");
  font-weight: var(--title-14-px-regular-font-weight, 400);
  font-size: var(--title-14-px-regular-font-size, 14px);
  line-height: var(--title-14-px-regular-line-height, 1.5);
  color: var(--text-2, #000000);
}
.news .nothing {
  overflow-wrap: break-word;
  font-family: var(--title-14-px-regular-font-family, "Poppins");
  font-weight: var(--title-14-px-regular-font-weight, 400);
  font-size: var(--title-14-px-regular-font-size, 14px);
  line-height: var(--title-14-px-regular-line-height, 1.5);
  color: var(--text-2, #000000);
}
.news .line-13 {
  margin: 4.6px 12px 15.4px 0;
  width: 6px;
  height: 1px;
}
.news .app-store {
  background: #000000;
  display: flex;
  padding: 3px;
  width: 110px;
  height: 40px;
  box-sizing: border-box;
}
.news .download-appstore {
  border-radius: 4px;
  border: 0.6px solid var(--primary, #ffffff);
  background: url("assets/images/DownloadAppstore.png") 100% / cover no-repeat;
  width: 104px;
  height: 34px;
}
.news .google-play {
  background: #030406;
  position: relative;
  margin-bottom: 4px;
  display: flex;
  padding: 5px 3px;
  width: 110px;
  box-sizing: border-box;
}
.news .vector-1 {
  margin: 0.3px 0 2.7px 0;
  width: 0.6px;
  height: 1px;
}
.news .vector-3 {
  position: absolute;
  right: 14.8px;
  bottom: 17.7px;
  width: 0.3px;
  height: 0.1px;
}
.news .account-1 {
  margin-bottom: 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--title-20-px-medium-font-family, "Poppins");
  font-weight: var(--title-20-px-medium-font-weight, 500);
  font-size: var(--title-20-px-medium-font-size, 20px);
  line-height: var(--title-20-px-medium-line-height, 1.4);
  color: var(--text, #fafafa);
}
.news .my-account {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--title-16-px-regular-font-family, "Poppins");
  font-weight: var(--title-16-px-regular-font-weight, 400);
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 1.5);
  color: var(--text, #fafafa);
}
.news .login-register {
  margin-bottom: 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--title-16-px-regular-font-family, "Poppins");
  font-weight: var(--title-16-px-regular-font-weight, 400);
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 1.5);
  color: var(--text, #fafafa);
}
.news .cart {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--title-16-px-regular-font-family, "Poppins");
  font-weight: var(--title-16-px-regular-font-weight, 400);
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 1.5);
  color: var(--text, #fafafa);
}
.news .qr-code {
  background: #000000;
  margin: 2px 8px 2px 0;
  display: flex;
  padding: 2px;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
}
.news .qrcode-1 {
  border: 2.5px solid var(--primary, #ffffff);
  background: url("assets/images/Qrcode1.jpeg") 50% / cover no-repeat;
  width: 76px;
  height: 76px;
}
.news .wishlist-1 {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--title-16-px-regular-font-family, "Poppins");
  font-weight: var(--title-16-px-regular-font-weight, 400);
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 1.5);
  color: var(--text, #fafafa);
}
.news .shop {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--title-16-px-regular-font-family, "Poppins");
  font-weight: var(--title-16-px-regular-font-weight, 400);
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 1.5);
  color: var(--text, #fafafa);
}
.news .quick-link {
  margin: 0 7.5px 24px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--title-20-px-medium-font-family, "Poppins");
  font-weight: var(--title-20-px-medium-font-weight, 500);
  font-size: var(--title-20-px-medium-font-size, 20px);
  line-height: var(--title-20-px-medium-line-height, 1.4);
  color: var(--text, #fafafa);
}
.news .privacy-policy {
  margin-bottom: 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--title-16-px-regular-font-family, "Poppins");
  font-weight: var(--title-16-px-regular-font-weight, 400);
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 1.5);
  color: var(--text, #fafafa);
}
.news .terms-of-use {
  margin: 0 3.2px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--title-16-px-regular-font-family, "Poppins");
  font-weight: var(--title-16-px-regular-font-weight, 400);
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 1.5);
  color: var(--text, #fafafa);
}
.news .faq {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--title-16-px-regular-font-family, "Poppins");
  font-weight: var(--title-16-px-regular-font-weight, 400);
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 1.5);
  color: var(--text, #fafafa);
}
.news .contact {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--title-16-px-regular-font-family, "Poppins");
  font-weight: var(--title-16-px-regular-font-weight, 400);
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 1.5);
  color: var(--text, #fafafa);
}
.news .support {
  margin-bottom: 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--title-20-px-medium-font-family, "Poppins");
  font-weight: var(--title-20-px-medium-font-weight, 500);
  font-size: var(--title-20-px-medium-font-size, 20px);
  line-height: var(--title-20-px-medium-line-height, 1.4);
  color: var(--text, #fafafa);
}
.news .bijoy-sarani-dhaka-dh-1515-bangladesh {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--title-16-px-regular-font-family, "Poppins");
  font-weight: var(--title-16-px-regular-font-weight, 400);
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 1.5);
  color: var(--text, #fafafa);
}
.news .exclusivegmail-com {
  margin-bottom: 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--title-16-px-regular-font-family, "Poppins");
  font-weight: var(--title-16-px-regular-font-weight, 400);
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 1.5);
  color: var(--text, #fafafa);
}
.news .container {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--title-16-px-regular-font-family, "Poppins");
  font-weight: var(--title-16-px-regular-font-weight, 400);
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 1.5);
  color: var(--text, #fafafa);
}
.news .subscribe {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--title-20-px-medium-font-family, "Poppins");
  font-weight: var(--title-20-px-medium-font-weight, 500);
  font-size: var(--title-20-px-medium-font-size, 20px);
  line-height: var(--title-20-px-medium-line-height, 1.4);
  color: var(--text, #fafafa);
}
.news .get-10-off-your-first-order {
  overflow-wrap: break-word;
  font-family: var(--title-16-px-regular-font-family, "Poppins");
  font-weight: var(--title-16-px-regular-font-weight, 400);
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 1.5);
  color: var(--text, #fafafa);
}
.news .download-app {
  margin-bottom: 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--title-20-px-medium-font-family, "Poppins");
  font-weight: var(--title-20-px-medium-font-weight, 500);
  font-size: var(--title-20-px-medium-font-size, 20px);
  line-height: var(--title-20-px-medium-line-height, 1.4);
  color: var(--text, #fafafa);
}
.news .frame-708 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.news .frame-709 {
  margin: 0 88px 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.news .frame-710 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.news .frame-711 {
  margin-right: 87.2px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.news .frame-712 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.news .frame-713 {
  margin: 0 87.4px 56px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.news .logo {
  margin-bottom: 24px;
  display: flex;
  box-sizing: border-box;
}
.news .exclusive-1 {
  overflow-wrap: break-word;
  font-family: var(--heading-24-px-bold-font-family, "Inter");
  font-weight: var(--heading-24-px-bold-font-weight, 700);
  font-size: var(--heading-24-px-bold-font-size, 24px);
  letter-spacing: var(--heading-24-px-bold-letter-spacing, 0.7px);
  line-height: var(--heading-24-px-bold-line-height, 1);
  color: var(--text, #fafafa);
}
.news .send-mail {
  border-radius: 4px;
  border: 1.5px solid var(--text, #fafafa);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10.5px 15.5px 10.5px 14.5px;
  width: 217px;
  box-sizing: border-box;
}
.news .enter-your-email {
  opacity: 0.4;
  margin-right: 12px;
  width: 152px;
  border: none;
  color: #ffffff;
  overflow-wrap: break-word;
  font-family: var(--title-16-px-regular-font-family, "Poppins");
  font-weight: var(--title-16-px-regular-font-weight, 400);
  font-size: var(--title-16-px-regular-font-size, 16px);
  line-height: var(--title-16-px-regular-line-height, 1.5);
  color: var(--text, #fafafa);
}
.news .icon-send {
  margin: 3px 0;
  display: flex;
  width: 20px;
  height: 18px;
  box-sizing: border-box;
}
.news .vector-9 {
  width: 20px;
  height: 18px;
}
.news .frame-715 {
  margin: 0 5.3px 24px 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.news .frame-716 {
  margin: 0 11.7px 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.news .frame-717 {
  margin: 0 87px 48px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.news .frame-718 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 110px;
  box-sizing: border-box;
}
.news .frame-719 {
  display: flex;
  flex-direction: row;
  width: 198px;
  box-sizing: border-box;
}
.news .save-3-with-app-new-user-only {
  opacity: 0.7;
  margin: 0 4.7px 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--title-12-px-medium-font-family, "Poppins");
  font-weight: var(--title-12-px-medium-font-weight, 500);
  font-size: var(--title-12-px-medium-font-size, 12px);
  line-height: var(--title-12-px-medium-line-height, 1.5);
  color: var(--text, #fafafa);
}
.news .frame-720 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.news .frame-721 {
  margin-bottom: 27px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.news .icon-facebook {
  display: flex;
  width: 10.5px;
  height: 18px;
  box-sizing: border-box;
}
.news .vector-10 {
  width: 10.5px;
  height: 18px;
}
.news .icon-twitter {
  margin: 1px 0 0.4px 0;
  display: flex;
  width: 20.1px;
  height: 16.6px;
  box-sizing: border-box;
}
.news .vector-11 {
  width: 20.1px;
  height: 16.6px;
}
.news .icon-instagram {
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.news .group {
  width: 18px;
  height: 18px;
}
.news .icon-linkedin {
  margin-bottom: 0.5px;
  display: flex;
  width: 17.5px;
  height: 17.5px;
  box-sizing: border-box;
}
.news .vector-15 {
  width: 17.5px;
  height: 17.5px;
}
.news .frame-741 {
  margin: 0 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 157.5px;
  box-sizing: border-box;
}
.news .frame-742 {
  margin-bottom: 29px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.news .vector-16 {
  width: 16.5px;
  height: 14px;
}
.news .container-9 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
